<% include ../partials/header.ejs %>



  <!-- header introduction -->
  <header>
    <div class="container">
      <!-- flash message -->
      <% if(success && success != "") { %>
      <div class="container">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Your message has been sent!</strong>
          <p>
            <%= success %>
          </p>
        </div>
      </div>
      <% } else if (failure && failure != "") { %>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>So sorry!</strong>
          <p>
            <%= failure %>
          </p>
        </div>
      <% } %>
      <!-- flash message end -->
      <div class="header-intro-grp">
        <p class="header-intro" >Hi I'm Ashwin<p>
        <p class="header-intro-message">Great to meet you!</p>
      </div>
    </div>
  </header>
  <!-- header introduction end -->

  <!-- Offering Services -->
  <section class="services">
    <!-- Services header-->
    <div class="col-lg-12 text-center header">
      <h2>What can I Offer?</h2>
    </div>
    <!-- Services header end-->
    <div class="container">
      <div class="text-center row services-row">
        <!-- 1 -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x services-icon-color">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="services-title">Java Development</h4>
          <p class="text-muted">
            Write Java EE apps with Spring/Hibernate/ETL Tools
          </p>
        </div>
        <!-- 1 end -->
        <!-- 2 -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x services-icon-color">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="services-title">Web Development with Node.js</h4>
          <p class="text-muted">
            Write websites with Express.js
          </p>
        </div>
        <!-- 2 end -->
        <!-- 3 -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x services-icon-color">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="services-title">L3 Software Support</h4>
          <p class="text-muted">
            Diagnose problems, find solutions and support clients
          </p>
        </div>
        <!-- 3 end -->
      </div>
      <div class="col-lg-12 text-center">
        <a href="files/Ashwin-Resume.pdf" class="btn btn-xl" role="button">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- Offering Services end -->

  <!-- about me -->
  <section class="about-me">
    <div class="timeline-container">
      <% include ../partials/timeline.ejs %>
    </div>
  </section>
  <!-- about me end -->

  <section class="portfolio">
    <!-- portfolio header-->
    <div class="col-lg-12 text-center header">
      <h2>Portfolio</h2>
    </div>
    <!-- portfolio header end-->

    <!-- portfolio start -->
    <div class="container">
      <div class="row">

      <% portfolio.forEach(project => { %>
        <div class="col-md-4">
          <div class="portfolio-item text-center">
            <div class="portfolio-pic-container">
              <!-- there should be a link when hovered here eventually -->
              <a class="portfolio-link" href="<%= project.github %>">
                <img class="img-responsive" src="<%= project.picture %>">
              </a>
            </div>
            <div class="portfolio-caption">
              <h4><%= project.title %></h4>
              <p class="text-muted"><%= project.description %></p>
            </div>
          </div>
        </div>
      <% }); %>

      </div>
    </div>
    <!-- portfolio end -->
    
  </section>

  <section class="work-exp">
    <!-- work history -->
    <div class="container">
      <div class="row">

      <% workHistoryList.forEach(workHistory => { %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img class="work-img img-responsive img-centered" src="<%= workHistory.companyLogoSrc %>"/>
          </div>
        </div>
      <% }); %>

      </div>


    </div>

    </section>
    <!-- work history end -->

  <section class="contact-me">
    <!-- contact me header-->
    <div class="col-sm-12 text-center header">
      <h2>Contact Me</h2>
    </div>
    <!-- contact me header end-->

    <!-- contact me -->
    <div class="container">
      <form action="/contact" method="post" class="form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <input name="contact[name]" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1" required>
          </div>

          <div class="form-group">
            <input name="contact[email]" type="email" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1" required>
          </div>

          <div class="form-group">
            <input name="contact[phone]" type="text" class="form-control" placeholder="Contact Number" aria-describedby="sizing-addon1">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <textarea name="contact[message]" class="form-control" placeholder="Message" required></textarea>
          </div>
        </div>

        <div id="contact-button-submit" class="col-lg-12 text-center">
            <button class="btn btn-xl" type="submit">Submit!</button>
        </div>
        </form>
      </div>
    </div>
  </section>
  <!-- contact me end -->

<% include ../partials/footer.ejs %>
